<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Task-management-system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>login</display-name>
    <servlet-name>loginServelet</servlet-name>
    <servlet-class>com.modules.users.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServelet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taskServelet</servlet-name>
    <servlet-class>com.modules.tasks.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taskServelet</servlet-name>
    <url-pattern>/secured/tasks/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>com.modules.users.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/secured/profile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProfile</servlet-name>
    <servlet-class>com.modules.users.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfile</servlet-name>
    <url-pattern>/secured/updateProfile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatePassword</servlet-name>
    <servlet-class>com.modules.users.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePassword</servlet-name>
    <url-pattern>/secured/updatePassword/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userServelet</servlet-name>
    <servlet-class>com.modules.users.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServelet</servlet-name>
    <url-pattern>/userServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateTask</servlet-name>
    <servlet-class>com.modules.tasks.UpdateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTask</servlet-name>
    <url-pattern>/secured/updateTask/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteTask</servlet-name>
    <servlet-class>com.modules.tasks.DeleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTask</servlet-name>
    <url-pattern>/secured/deleteTask/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.modules.users.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>searchTasks</display-name>
    <servlet-name>searchTasks</servlet-name>
    <servlet-class>com.modules.tasks.SearchTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchTasks</servlet-name>
    <url-pattern>/secured/searchTasks</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.modules.users.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/secured/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminAuthorizationFilter</filter-name>
    <filter-class>com.modules.users.AdminAuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminAuthorizationFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>getAllUsers</display-name>
    <servlet-name>getAllUsers</servlet-name>
    <servlet-class>com.modules.users.GetAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllUsers</servlet-name>
    <url-pattern>/secured/admin/getAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>deleteUser</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.modules.users.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/secured/admin/deleteUser/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.modules.users.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GlobalErrorHander</servlet-name>
    <servlet-class>com.modules.GlobalErrorHander</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlobalErrorHander</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
 
  
  
</web-app>